<!DOCTYPE html>
<html lang="ko"
      data-theme="bumblebee"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="fragments/head :: head-fragment"></th:block>
<body>

<th:block th:replace="fragments/header :: header-fragment"></th:block>

<th:block layout:fragment="content"></th:block>

<th:block th:replace="fragments/comment :: comment-fragmenmt"></th:block>

<div th:replace="fragments/top-scroll.html :: fragment-top-scroll"></div>

<th:block th:replace="fragments/footer :: footer-fragment"></th:block>

</body>
</html>