<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment">
    <!-- 기본 설정 -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>test-mini-project</title>

    <!-- css -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />

    <!-- daisyUI, tailwindcss -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
</html>