<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header-fragment" class="bg-white">
    <nav class="shadow-sm py-0.5 border-b border-gray-100" aria-label="Global">
        <div class="mx-auto flex max-w-6xl items-center justify-between py-4 min-[320px]:p-4">
            <!-- logo -->
            <div class="flex">
                <a href="/" class="">
                    <!--                <span class="font-semibold text-2xl align-middle bg-secondary rounded-md p-1">dk</span>-->
                    <span class="font-bold text-2xl align-middle">dk</span>
                    <span class="font-medium text-2xl align-middle">log</span>
                </a>
            </div>
            <!-- sign in, sign up, logout -->
            <div class="flex justify-center items-center gap-x-4">
                <!-- search -->
                <div class="transition cursor-pointer rounded-md p-1 text-gray-600 hover:text-black hover:bg-gray-200">
                    <label for="toggleSearchBtn" class="cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
                        </svg>
                    </label>
                    <input id="toggleSearchBtn" type="checkbox" hidden/>
                </div>
                <div th:if="${session.member == null}" class="flex justify-center items-center gap-x-4">
                    <!-- sign in -->
                    <label for="signIn" class="btn btn-secondary btn-sm">로그인</label>
                    <input type="checkbox" id="signIn" class="modal-toggle"/>
                    <!-- sign in modal -->
                    <div id="signInModal" class="modal">
                        <div class="modal-box w-auto">
                            <label for="signIn" class="btn btn-ghost btn-sm btn-circle absolute right-2 top-2">✕</label>
                            <div class="text-center">
                                <div class="text-4xl align-middle py-10">
                                    <span class="font-bold">dk</span>
                                    <span class="font-medium">log</span>
                                </div>
                                <p class="text-gray-600">dktechin 교육생 인증 후에</p>
                                <p class="text-gray-600">소셜 로그인으로 서비스를 이용하실 수 있습니다.</p>
                                <div class="my-10">
                                    <a th:href="@{/oauth2/authorization/github}"
                                       class="w-full btn bg-black text-white items-middle gap-x-5 text-lg font-medium normal-case">
                                        <img class="w-8" th:src="@{/images/github-mark-white.png}"/>
                                        <span>Sign in with GitHub</span>
                                    </a>
                                </div>
                                <div class="mb-10">
                                    <span class="text-gray-600 mr-2">dktechin 교육생이신가요?</span>
                                    <a id="goToAuth"
                                       class="underline decoration-yellow-400 text-yellow-400 cursor-pointer hover:text-yellow-500"
                                       th:href="@{/student/auth}">교육생 인증하러 가기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- sign up -->
                    <a th:href="@{/student/auth}" id="signUpBtn" class="btn text-white btn-sm">교육생 인증</a>
                </div>
                <div th:if="${session.member != null}" class="flex justify-center items-center gap-x-1">
                    <a th:href="@{/post/write}" class="btn btn-secondary btn-sm">글쓰기</a>
                    <div class="dropdown dropdown-end">
                        <label tabindex="0" class="btn btn-ghost">
                            <div class="flex justify-center items-center gap-x-2">
                                <div class="avatar">
                                    <div class="w-8 rounded-full ring-2 ring-gray-300">
                                        <img th:src="${session.member.picture}"/>
                                    </div>
                                </div>
                                <span th:text="${session.member.username}">username</span>
                            </div>
                        </label>
                        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-32">
                            <li><a id="logoutBtn" class="btn btn-ghost btn-sm p-0.5 " th:href="@{/logout}">로그아웃</a></li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </nav>
    <!-- search -->
    <div id="search" class="hidden bg-gray-100 py-4 flex justify-center items-center gap-x-4">
        <input id="searchKeyword" type="text" placeholder="검색어를 입력해주세요"
               class="transition bg-gray-100 w-1/4 text-lg rounded-md border-0 p-1 placeholder:text-gray-500 focus:outline-0 focus:ring-2 focus:ring-gray-300">
        <div id="searchBtn" class="transition text-gray-600 cursor-pointer hover:text-black">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
            </svg>
        </div>
        <div class="transition text-gray-600 cursor-pointer hover:text-black">
            <a th:href="@{/}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
            </a>
        </div>
        <div id="closeSearchBtn" class="transition text-gray-600 cursor-pointer hover:text-black">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
        </div>
    </div>
    <script th:inline="javascript">
        const toggleSearch = (e) => {
            console.log(e.target.checked);
            if (e.target.checked) {
                // TODO: 검색창 내리기
                let search = document.getElementById('search');
                search.classList.remove('hidden')
            } else {
                // TODO: 검색창 닫기 + 검색 기록 지우기
                let search = document.getElementById('search');
                let searchKeyword = document.getElementById('searchKeyword');
                search.classList.add('hidden');
                searchKeyword.value = '';
            }
        }

        let toggleSearchBtn = document.getElementById('toggleSearchBtn');
        toggleSearchBtn.addEventListener('change', toggleSearch);

        let closeSearchBtn = document.getElementById('closeSearchBtn');
        closeSearchBtn.addEventListener('click', () => {
            let search = document.getElementById('search');
            let searchKeyword = document.getElementById('searchKeyword');
            search.classList.add('hidden')
            searchKeyword.value = '';
            document.getElementById('toggleSearchBtn').checked = false;
        })

        let searchBtn = document.getElementById('searchBtn');
        searchBtn.addEventListener('click', () => {
            let searchKeyword = document.getElementById('searchKeyword');
            location.href = `?keyword=${searchKeyword.value}`;
        });


        let url = new URLSearchParams(location.search);
        let existKeyword = url.has('keyword');
        let keyword = url.get('keyword');
        console.log(existKeyword);
        console.log(keyword);
        if (existKeyword) {
            let search = document.getElementById('search');
            search.classList.remove('hidden');
            let searchKeyword = document.getElementById('searchKeyword');
            searchKeyword.value = keyword;
            searchKeyword.focus();
        }
    </script>
</header>
</html>