.main-h-full {
    height: calc(100% - 69px - 239px);
}
.content-h-full {
    height: calc(100% - 72px);
}
.content-preview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.textarea-h-full {
    height: calc(100% - 80px);
}