<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default-layout}"
>
<th:block layout:fragment="content">
    <main class="mx-auto max-w-6xl py-20 px-4">
        <section>
            <h2 class="text-4xl align-middle mb-4">
                <span class="font-bold">dk</span>
                <span class="font-medium">techin</span>
                <span class="font-medium">교육생들의 이야기</span>
            </h2>
            <h2 class="text-xl text-gray-500">
                <span>dktehin developer training course tech blog</span>
            </h2>
        </section>
        <section class="mt-20">
            <hr/>
            <div th:each="post, i: ${responsePostListDto.postList}">
                <a class="cursor-pointer">
                    <div class="flex items-center py-10">
                        <img th:if="${post.previewImage != null}" th:src="${post.previewImage}" class="object-cover w-48 h-48 rounded-lg mr-10"/>
                        <div th:if="${post.previewImage == null}" class="w-48 h-48 mr-10">
                            <div class="w-48 h-48 bg-yellow-200 text-gray-700 text-2xl rounded-lg flex justify-center items-center">
                                <span class="font-bold">dk</span>
                                <span class="font-medium">log</span>
                            </div>
                        </div>
                        <div>
                            <h1 th:text="${post.title}" class="text-xl font-bold mb-6">title</h1>
                            <div class="content-preview mb-6">
                                <p th:text="${post.previewContent}" class="text-gray-700">content</p>
                            </div>
                            <div class="text-gray-500 flex items-center">
                                <span th:text="${post.createdDate}">createdDate</span>
                                <span class="mx-4">|</span>
                                <div class="avatar mr-2">
                                    <div class="w-6 rounded-full ring-2 ring-gray-300">
                                        <img th:src="${post.picture}"/>
                                    </div>
                                </div>
                                <span th:text="${post.username}">username</span>
                            </div>
                        </div>
                    </div>
                </a>
                <hr/>
            </div>
        </section>
    </main>
</th:block>
</html>
