<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.dklog.mapper.TestMapper">

    <select id="findById" parameterType="Long" resultType="kr.dklog.dto.TestDto">
        select * from test where id = #{value}
    </select>

</mapper>